/* <system section="theme" selected="alpha2"> */
@import "/css/theme/alpha2/alpha2.css"
/* </system> */

/* <system section="background" selected="default"> */
/* default */
/* </system> */

@import 'compass'


body
  padding-top: 30px
  border-top: 13px solid #FFC153
  background-color: #fff

a
  color: #E9495B

  &:visited
    color: #E9495B

.header-image-only
  #blog-title
    margin: 0

    #blog-title-inner
      height: 110px
      width: 530px
      background-position: 30px 0 !important

.categories a
  background-color: #D2FFF0

#container
  width: 1020px

#box2
  margin-left: 20px
  width: 250px

  .hatena-module-search-box .hatena-module-title
    display: none

  .recent-entries-entry-image
    width: 60px
    height: 60px

  .recent-entries-entry-title-link
    display: block
    overflow: hidden

#content
  padding: 0 15px 30px

#top-editarea,
#bottom-editarea
  padding: 0 15px
  position: relative

#main
  float: none
  width: 660px

.star-navigation-tooltip
  display: none

.entry-content
  font-size: 15px

.page-index,
.page-category-category_name
  .hatena-star-container,
  .comment-box
    display: none

  .entry-header
    .date
      right: 0
      left: auto
      top: auto
      bottom: 0
      height: 20px
      line-height: 20px
      border-right: 0
      text-align: right
      font-size: 12px
      color: #F5F5F5

  .entry-content
    position: relative

    .entry-see-more
      position: absolute
      right: 0
      bottom: 0
      line-height: 1

  #thumbnail,
  .thumbnail
    +pie-clearfix
    display: block

    .img
      float: left
      position: relative
      width: 275px
      height: 170px
      margin-right: 5%
      overflow: hidden

      p
        margin: 0
        height: 100%
        width: 100%

        span
          position: relative
          overflow: hidden
          display: block
          height: 100%
          width: 100%

    .text
      overflow: hidden
      text-align: justify


.page-entry
  .entry-header
    padding-top: 120px

.page-entry,
.page-search
  #thumbnail
    display: none

  .entry-header
    .date
      right: 0
      left: auto
      top: auto
      bottom: 0
      height: 20px
      line-height: 20px
      text-align: right
      border-right: 0
      font-size: 12px
      color: #F5F5F5

  .entry-header-html
    position: absolute
    top: 0
    left: 0
    margin-top: 0

  #ads_area_header,
  #ads_area_footer
    +pie-clearfix

    .ad_asterisk
      display: none

    .ad_google,
    .ad_imobile
      +inline-block

  #ads_area_header
    .ad_google
      width: 660px
      height: 100px

  .entry-content
    position: relative

    h3
      padding: 5px 0 0 58px
      border: 0
      font-size: 16px
      background: transparent url('https://amgw.heteml.jp/bg_title.gif') 0 0 no-repeat
      color: #003E50

  .pager
    .pager-next,
    .pager-prev
      a
        background-color: white !important
        font-size: 15px
        color: #E9495B

        &:visited
          color: #E9495B
        &:hover
          background-color: white !important

.writer-profile
  +pie-clearfix
  padding: 20px 0
  border-top: 1px solid #003E50

  .img
    margin-right: 30px
    float: left

    img
      width: 80px

  .info
    overflow: hidden
    margin-left: 20px

  .name
    font-weight: bold

.Astrskfncstx.base
  display: none

.entry-header-html
  margin-top: 30px

.Astrskfncstx .iconView
  height: 90px !important
  a
    color: black !important
    +text-shadow(none)

#top-editarea
  .site-text
    position: absolute
    top: -140px
    right: 0
    font-size: 14px
    line-height: 2

#global_menu
  +pie-clearfix
  +border-radius(10px)
  padding: 30px 20px

  li
    +inline-block
    width: 150px
    text-align: center

    &+li
      border-left: 1px solid #003E50

    a
      color: #003E50
      font-size: 17px
      font-weight: bold
