/* <system section="theme" selected="alpha2"> */
@import url(/css/theme/alpha2/alpha2.css);
/* </system> */
/* <system section="background" selected="default"> */
/* default */
/* </system> */
/* line 12, ../sass/mogura.sass */
body {
  padding-top: 30px;
  border-top: 13px solid #ffc153;
  background-color: white;
}

/* line 17, ../sass/mogura.sass */
a {
  color: #e9495b;
}
/* line 20, ../sass/mogura.sass */
a:visited {
  color: #e9495b;
}

/* line 24, ../sass/mogura.sass */
.header-image-only #blog-title {
  margin: 0;
}
/* line 27, ../sass/mogura.sass */
.header-image-only #blog-title #blog-title-inner {
  height: 110px;
  width: 530px;
  background-position: 30px 0 !important;
}

/* line 32, ../sass/mogura.sass */
.categories a {
  background-color: #d2fff0;
}

/* line 35, ../sass/mogura.sass */
#container {
  width: 1020px;
}

/* line 38, ../sass/mogura.sass */
#box2 {
  margin-left: 20px;
  width: 250px;
}
/* line 42, ../sass/mogura.sass */
#box2 .hatena-module-search-box .hatena-module-title {
  display: none;
}
/* line 45, ../sass/mogura.sass */
#box2 .recent-entries-entry-image {
  width: 60px;
  height: 60px;
}
/* line 49, ../sass/mogura.sass */
#box2 .recent-entries-entry-title-link {
  display: block;
  overflow: hidden;
}

/* line 53, ../sass/mogura.sass */
#content {
  padding: 0 15px 30px;
}

/* line 56, ../sass/mogura.sass */
#top-editarea,
#bottom-editarea {
  padding: 0 15px;
  position: relative;
}

/* line 61, ../sass/mogura.sass */
#main {
  float: none;
  width: 660px;
}

/* line 65, ../sass/mogura.sass */
.star-navigation-tooltip {
  display: none;
}

/* line 68, ../sass/mogura.sass */
.entry-content {
  font-size: 15px;
}

/* line 73, ../sass/mogura.sass */
.page-index .hatena-star-container,
.page-index .comment-box,
.page-category-category_name .hatena-star-container,
.page-category-category_name .comment-box {
  display: none;
}
/* line 78, ../sass/mogura.sass */
.page-index .entry-header .date,
.page-category-category_name .entry-header .date {
  right: 0;
  left: auto;
  top: auto;
  bottom: 0;
  height: 20px;
  line-height: 20px;
  border-right: 0;
  text-align: right;
  font-size: 12px;
  color: whitesmoke;
}
/* line 90, ../sass/mogura.sass */
.page-index .entry-content,
.page-category-category_name .entry-content {
  position: relative;
}
/* line 93, ../sass/mogura.sass */
.page-index .entry-content .entry-see-more,
.page-category-category_name .entry-content .entry-see-more {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1;
}
/* line 99, ../sass/mogura.sass */
.page-index #thumbnail,
.page-index .thumbnail,
.page-category-category_name #thumbnail,
.page-category-category_name .thumbnail {
  *zoom: 1;
  display: block;
}
/* line 38, ../../../../../usr/local/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-index #thumbnail:after,
.page-index .thumbnail:after,
.page-category-category_name #thumbnail:after,
.page-category-category_name .thumbnail:after {
  content: "";
  display: table;
  clear: both;
}
/* line 104, ../sass/mogura.sass */
.page-index #thumbnail .img,
.page-index .thumbnail .img,
.page-category-category_name #thumbnail .img,
.page-category-category_name .thumbnail .img {
  float: left;
  position: relative;
  width: 275px;
  height: 170px;
  margin-right: 5%;
  overflow: hidden;
}
/* line 112, ../sass/mogura.sass */
.page-index #thumbnail .img p,
.page-index .thumbnail .img p,
.page-category-category_name #thumbnail .img p,
.page-category-category_name .thumbnail .img p {
  margin: 0;
  height: 100%;
  width: 100%;
}
/* line 117, ../sass/mogura.sass */
.page-index #thumbnail .img p span,
.page-index .thumbnail .img p span,
.page-category-category_name #thumbnail .img p span,
.page-category-category_name .thumbnail .img p span {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 124, ../sass/mogura.sass */
.page-index #thumbnail .text,
.page-index .thumbnail .text,
.page-category-category_name #thumbnail .text,
.page-category-category_name .thumbnail .text {
  overflow: hidden;
  text-align: justify;
}

/* line 130, ../sass/mogura.sass */
.page-entry .entry-header {
  padding-top: 120px;
}

/* line 135, ../sass/mogura.sass */
.page-entry #thumbnail,
.page-search #thumbnail {
  display: none;
}
/* line 139, ../sass/mogura.sass */
.page-entry .entry-header .date,
.page-search .entry-header .date {
  right: 0;
  left: auto;
  top: auto;
  bottom: 0;
  height: 20px;
  line-height: 20px;
  text-align: right;
  border-right: 0;
  font-size: 12px;
  color: whitesmoke;
}
/* line 151, ../sass/mogura.sass */
.page-entry .entry-header-html,
.page-search .entry-header-html {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
}
/* line 157, ../sass/mogura.sass */
.page-entry #ads_area_header,
.page-entry #ads_area_footer,
.page-search #ads_area_header,
.page-search #ads_area_footer {
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-entry #ads_area_header:after,
.page-entry #ads_area_footer:after,
.page-search #ads_area_header:after,
.page-search #ads_area_footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 161, ../sass/mogura.sass */
.page-entry #ads_area_header .ad_asterisk,
.page-entry #ads_area_footer .ad_asterisk,
.page-search #ads_area_header .ad_asterisk,
.page-search #ads_area_footer .ad_asterisk {
  display: none;
}
/* line 164, ../sass/mogura.sass */
.page-entry #ads_area_header .ad_google,
.page-entry #ads_area_header .ad_imobile,
.page-entry #ads_area_footer .ad_google,
.page-entry #ads_area_footer .ad_imobile,
.page-search #ads_area_header .ad_google,
.page-search #ads_area_header .ad_imobile,
.page-search #ads_area_footer .ad_google,
.page-search #ads_area_footer .ad_imobile {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 169, ../sass/mogura.sass */
.page-entry #ads_area_header .ad_google,
.page-search #ads_area_header .ad_google {
  width: 660px;
  height: 100px;
}
/* line 173, ../sass/mogura.sass */
.page-entry .entry-content,
.page-search .entry-content {
  position: relative;
}
/* line 176, ../sass/mogura.sass */
.page-entry .entry-content h3,
.page-search .entry-content h3 {
  padding: 5px 0 0 58px;
  border: 0;
  font-size: 16px;
  background: transparent url("https://amgw.heteml.jp/bg_title.gif") 0 0 no-repeat;
  color: #003e50;
}
/* line 186, ../sass/mogura.sass */
.page-entry .pager .pager-next a,
.page-entry .pager .pager-prev a,
.page-search .pager .pager-next a,
.page-search .pager .pager-prev a {
  background-color: white !important;
  font-size: 15px;
  color: #e9495b;
}
/* line 191, ../sass/mogura.sass */
.page-entry .pager .pager-next a:visited,
.page-entry .pager .pager-prev a:visited,
.page-search .pager .pager-next a:visited,
.page-search .pager .pager-prev a:visited {
  color: #e9495b;
}
/* line 193, ../sass/mogura.sass */
.page-entry .pager .pager-next a:hover,
.page-entry .pager .pager-prev a:hover,
.page-search .pager .pager-next a:hover,
.page-search .pager .pager-prev a:hover {
  background-color: white !important;
}

/* line 196, ../sass/mogura.sass */
.writer-profile {
  *zoom: 1;
  padding: 20px 0;
  border-top: 1px solid #003e50;
}
/* line 38, ../../../../../usr/local/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.writer-profile:after {
  content: "";
  display: table;
  clear: both;
}
/* line 201, ../sass/mogura.sass */
.writer-profile .img {
  margin-right: 30px;
  float: left;
}
/* line 205, ../sass/mogura.sass */
.writer-profile .img img {
  width: 80px;
}
/* line 208, ../sass/mogura.sass */
.writer-profile .info {
  overflow: hidden;
  margin-left: 20px;
}
/* line 212, ../sass/mogura.sass */
.writer-profile .name {
  font-weight: bold;
}

/* line 215, ../sass/mogura.sass */
.Astrskfncstx.base {
  display: none;
}

/* line 218, ../sass/mogura.sass */
.entry-header-html {
  margin-top: 30px;
}

/* line 221, ../sass/mogura.sass */
.Astrskfncstx .iconView {
  height: 90px !important;
}
/* line 223, ../sass/mogura.sass */
.Astrskfncstx .iconView a {
  color: black !important;
  text-shadow: none;
}

/* line 228, ../sass/mogura.sass */
#top-editarea .site-text {
  position: absolute;
  top: -140px;
  right: 0;
  font-size: 14px;
  line-height: 2;
}

/* line 235, ../sass/mogura.sass */
#global_menu {
  *zoom: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 20px;
}
/* line 38, ../../../../../usr/local/rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#global_menu:after {
  content: "";
  display: table;
  clear: both;
}
/* line 240, ../sass/mogura.sass */
#global_menu li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
  text-align: center;
}
/* line 245, ../sass/mogura.sass */
#global_menu li + li {
  border-left: 1px solid #003e50;
}
/* line 248, ../sass/mogura.sass */
#global_menu li a {
  color: #003e50;
  font-size: 17px;
  font-weight: bold;
}
